*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  font-family: Roboto, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 100vh;
  position: relative;
}
.background {
  height: 100%;
}

@font-face {
  font-family: Norse;
  src: url(./fonts/Norse-Bold.otf);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8rem;
  color: white;
  width: 100%;
  opacity: 0.7;
  background: rgb(37, 37, 37);
  font-size: 5em;
  font-family: Norse, sans-serif;
  font-weight: 800;
}

.logo {
  width: 25%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;

  height: 100vh;
  background-color: rgb(232, 232, 232);
}
.quote {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 40px;
  font-weight: 700;
}
